Data Types in Python
Numeric
List
Tuple
String
Set
Dictionary

Numeric : Store numeric values. Immutable data types

Python supports three different Numeric data types:

Integer type: It holds all the integer values i.e. all the positive and negative whole numbers, example – 10.

Float type: It holds the real numbers and are represented by decimal and sometimes even scientific notations with E or e indicating the power of 10 (2.5e2 = 2.5 x 102 = 250), example – 10.24.

Complex type: These are of the form a + bj, where a and b are floats and J represents the square root of -1 (which is an imaginary number), example – 10+6j.

In [1]:
A = 10
# Convert it into float type
B = float(A)
print(B)

10.0

In [2]:
A = 10.76
# Convert it into float type
B = int(A)
print(B)

10

List:You can consider the Lists as Arrays in C, but in List you can store elements of different types, but in Array all the elements should of the same type.
List is the most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets

In [3]:
Subjects = ['Physics', 'Chemistry', 'Maths', 2]
print(Subjects)

['Physics', 'Chemistry', 'Maths', 2]

In [6]:
Subjects[0]
#	This will give the index 0 value from the Subjects List.

2

In [10]:
Subjects [0:2]
#	This will give the index values from 0 till 2, but it won’t include 2 the Subjects List.

['Physics', 'Chemistry']

In [12]:
Subjects [3] = 'Biology' 
#It will update the List and add ‘Biology’ at index 3 and remove 2.

In [13]:
len (Subjects)
# This will return the length of the list

4

In [14]:
Subjects * 2
#This will repeat the Subjects List twice.

['Physics',
 'Chemistry',
 'Maths',
 'Biology',
 'Physics',
 'Chemistry',
 'Maths',
 'Biology']

In [15]:
Subjects [::-1]
#This will reverse the Subjects List

['Biology', 'Maths', 'Chemistry', 'Physics']

A Tuple is a sequence of immutable Python objects. The differences between tuples and lists are:

a)Tuples cannot be changed unlike lists
b) Tuples use parentheses, whereas lists use square brackets. Consider the example below:

Chelsea = ('Hazard', 'Lampard', 'Terry')

Now you must be thinking why Tuples when we have Lists?
So the simple answer would be, Tuples are faster than Lists. If you’re defining a constant set of values which you just want to iterate, then use Tuple instead of a List. 
All Tuple operations are similar to Lists, but you cannot update, delete or add an element to a Tuple.

In [16]:
Chelsea = ('Hazard', 'Lampard', 'Terry')

In [18]:
Chelsea[0]

'Hazard'

In [19]:
Chelsea[0:2]

('Hazard', 'Lampard')

In [20]:
len(Chelsea)

3

Strings are amongst the most popular data types in Python. We can create them simply by enclosing characters in quotes. Python treats single and double quotes in exactly the same fashion.

In [21]:
S = "Welcome To my lab work!"

In [22]:
len(S)
#String Length

23

In [23]:
S.index("lab")
# Locate a character in String

14

In [24]:
S.count("o")
# Count the number of times a character is repeated in a String

3

In [25]:
S[0:16]
# Slicing

'Welcome To my la'

In [26]:
S[::-1]
# Reverse a String

'!krow bal ym oT emocleW'

In [27]:
S.upper()
# Convert the letters in a String to upper-case

'WELCOME TO MY LAB WORK!'

In [28]:
S.lower()
# Convert the letters in a String to lower-case

'welcome to my lab work!'

Set:
A Set is an unordered collection of items. Every element is unique.
A Set is created by placing all the items (elements) inside curly braces {}, separated by comma.

In [30]:
Set_1 = {1, 2, 3}
Set_1

{1, 2, 3}

In [31]:
Set_2 = {1, 2, 3, 3}
Set_2

{1, 2, 3}

Union:
Union of A and B is a set of all the elements from both sets. Union is performed using | operator.

In [32]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A|B)

{1, 2, 3, 4, 5, 6}

Intersection of A and B is a set of elements that are common in both sets. Intersection is performed using & operator.

In [33]:
print ( A & B )

{3, 4}

Difference of A and B (A – B) is a set of elements that are only in A but not in B. 
Similarly, B – A is a set of element in B but not in A.

In [34]:
print(A - B)
#elements of A but not in B

{1, 2}

In [35]:
print(B-A)

{5, 6}

Symmetric Difference of A and B is a set of elements in both A and B except those that are common in both. Symmetric difference is performed using ^ operator.

In [36]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [ ]:
Dictionary:

In [37]:
Dict = {'Name' : 'Sarita', 'Age' : 23}

In [38]:
print(Dict['Name'])
#Access elements from a dictionary

Sarita

In [39]:
Dict['Age'] = 32
#Changing elements in a Dictionary

In [40]:
Dict['Address'] = 'Starc Tower'
# Changing elements in a Dictionary

In [41]:
Dict

{'Address': 'Starc Tower', 'Age': 32, 'Name': 'Sarita'}